
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hi{
  width: 60px;
  height: 60px;
}
.brand{
  font-family: 1.5rem;
  font-weight: bold;
}
.nav-links-1{
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #FEA301;
}
.color-2{
  color: #01ACFD;
  font-size: 1rem;
  font-weight: 600;
}
.color-3{
  color: #05D4DF;
  font-size: 1rem;
  font-weight: 600;
}
.color-4{
  color: #5D58EF;
  font-size: 1rem;
  font-weight: 600;
}
.btn-title{
  background-color: #FEA301;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 10px 60px;
  font-weight: 600px;
  font-size: 1.2rem;
  
  

}
.hello{
  padding: 20px 140px;
  gap: 20px;
}
@media screen and (max-width:576px) {
  .navbar, .title, .nav-links{
    flex-direction: column;
  }
  
}