
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
}
.navbar{
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hi{
  width: 60px;
  height: 60px;
}
.brand{
  font-family: 1.5rem;
  font-weight: bold;
}
.nav-links-1{
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #FEA301;
}
.color-2{
  color: #01ACFD;
  font-size: 1rem;
  font-weight: 600;
}
.color-3{
  color: #05D4DF;
  font-size: 1rem;
  font-weight: 600;
}
.color-4{
  color: #5D58EF;
  font-size: 1rem;
  font-weight: 600;
}
.btn-title{
  background-color: #FEA301;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 10px 60px;
  font-weight: 600px;
  font-size: 1.2rem;
  
  

}

.hello{
  padding: 20px 140px;
  gap: 20px;
 
}
.banner{
  width: 1200px;
  padding: 102px 177px 104px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
 

  
   
}
.banner-profile{
  width: 468px;
}
.banner-container{
  gap: 50px;
  margin-left: 30px;
}
.title-color{
  color: #FEA301;
  font-size:4rem ;
  font-weight: bold;
}
.title-color-2{
  font-size:4rem ;
  font-weight: bold;
}
.title-color-3{
  font-size:4rem ;
  font-weight: bold;
  color: #01ACFD;
}
.description{
  font-size:1.5rem;
}
.btn-color{
  background-color: #111111;
  color: white;
  font-size:1.5rem ;
  padding: 10px 47px;
  border: none;
  border-radius: 12px;
}
.main-width{
  width:460px ;
  text-align: center;
  margin: 0 auto;
}
.container-2{
  background-image: url(../assets/bg.png);
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-left:20px ;
  
}
/* .facts-container{
 
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 320px;
  padding-right: 270px;
  padding-top: 40px;

  
  
}
.fact-1{
  width: 367px;
  height: 476px;
  border: 1px solid antiquewhite;
  gap: 20px;
  background-color: beige;
}
.fact-2{
  width: 367px;
  height: 476px;
  border: 1px solid antiquewhite;
  gap: 20px;
  background-color: beige;
}
.fact-3{
  width: 367px;
  height: 476px;
  border: 1px solid antiquewhite;
  gap: 20px;
  background-color: beige;
} */
.main-width{
 
  font-size:1.9rem ;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-right: 100px;
  width: 460px;
  
}

.fact{
  border: 1px solid #DEF5FF;
  background-color: beige;
  width: 376px;
  height: 476px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 53px;
  gap: 28px;

 
 
  
 
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  
}
.fact-number{
  font-size:2rem;
  font-weight: bold;
}
.fact-item{
  font-size:1rem ;
  font-weight: 500;
}
.btn-fact{
  font-size:1rem;
  font-weight: bold;
  
}
.fact-color-1{
 
  color: #64C8FF;
}
.fact-color-2{
  color: #F0AA00;
}
.fact-color-3{
  color: #8700FF;
}
.fact-number{
 
}
.img-title{
  width: 1440px;
  

  margin: 0 auto;
  padding-top: 200px;
  background-image: url("../assets/bg.png");
 
  
}
.image{
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  font-size:4rem ;
  font-weight: bold;
  
}
.img-description{
  padding-left: 38px;
  
}
.img-subtitle{
  border: 1px solid rgba(255, 255, 255, 1);

}
.container-title{
  max-width: 14440px;
  margin: 0 auto;


 


 
  
}
.img{
  font-size:1.7rem ;
}



@media screen and (max-width:576px) {
  .navbar, .title ,.nav-links, .banner, .container-2{
    flex-direction: column;
  }
  
}
@media screen and (min-width:576px) and (max-width:992px) {
  .navbar, .title, .nav-links, .banner, .container-2{
   grid-template-columns: repeat(1,1fr);
  }
  
}